:root {
  --main-bg-color: #fcfcff;
}

HTML, body, div, nav {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background: var(--main-bg-color);
  box-sizing: border-box;
}

nav {
  padding-top: 15px;
  padding-left: 15px;
  width: 100%;
  background: #ccd7f6;
  height: 47px;
  border-bottom: 1px solid #aaa;
  box-shadow: inset 0 8px 10px -10px #555;
}

nav.tab_select div.tab_choice {
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(#f6f6f6, #eeeeee);
  padding-top: 7px;
  color: #666;
  height: 32px;
  width: 120px;
  text-align: center;
}

nav.tab_select div.tab_choice:hover {
  cursor: pointer;
  color: #000;
}

nav.tab_select div.active_tab {
  background-color: var(--main-bg-color);
  color: #000;
  border-bottom: 1px solid var(--main-bg-color);
  background: linear-gradient(#f6f6f6, var(--main-bg-color));
}

nav.tab_select div.tab_choice {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

nav.tab_select div.inactive_tab {
  border-bottom: 1px solid #aaa;
}

div.contents {
  margin-top: 0;
  padding: 15px;
  background: var(--main-bg-color);
}

div.about {
  text-align: center;
}

table {
  width: 100%;
}

td {
  padding: 4px;
}

td.fingerprint {
  font-family: monospace;
  text-align: center;
  padding-left: 4em;
  padding-right: 4em;
  width: 18em;
}

td.name {
  text-align: center;
}

td.email {
  font-family: monospace;
  text-align: center;
}

td.actions {
  text-align: right;
}

td.delete {
  text-align: center;
}

p.copyright_info {
  font-size: 12px;
}

textarea.sign_text {
  width: 95%;
  height: 15em;
  resize: none;
}
