HTML, body, div {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: #eef;
}

nav {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  width: 100%;
  background: #fff;
  overflow: show;
  height: 24px;
  min-height: 24px;
}

nav.tab_select div.tab_choice {
  display: inline;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ddf;
  margin: 0;
  padding: 6px;
  color: #999;
  height: 27px;
}

nav.tab_select div.active_tab {
  background-color: #eef;
  color: #000;
}

nav.tab_select div.inactive_tab {
  background-color: #eef;
  color: #000;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

nav.tab_select div.tab_choice:hover {
  cursor: pointer;
  color: #000;
}

div.contents {
  margin-top: 0;
  padding: 15px;
}
