body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

nav.tab_select div.tab_choice {
  display: inline;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #ddf;
  padding: 6px;
  border: 1px solid #999;
  border-bottom: 1px solid #000;
  color: #999;
  margin: 0;
}

nav.tab_select div.active_tab {
  background-color: #eef;
  border: 1px solid #000;
  color: #000;
  border-bottom: 1px solid #eef;
  margin: 0;
}

nav.tab_select div.tab_choice:hover {
  cursor: pointer;
  color: #000;
}

div.contents {
  padding: 0;
  margin: 0;
  background: #eef;
}
