:root {
  --main-bg-color: #fcfcff;
}

HTML, body, div {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: var(--main-bg-color);
}

nav {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-top: 15px;
  width: 100%;
  background: #ddd;
  overflow: show;
  height: 27px;
  min-height: 27px;
  border-bottom: 1px solid #ccc;
  padding-bottom: -4px;
}

nav.tab_select div.tab_choice {
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ddf;
  margin: 0;
  padding-top: 6px;
  color: #999;
  height: 24px;
  width: 100px;
  text-align: center;
}

nav.tab_select div.tab_choice:hover {
  cursor: pointer;
  color: #000;
}

nav.tab_select div.active_tab {
  background-color: var(--main-bg-color);
  color: #000;
}

nav.tab_select div.tab_choice {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

nav.tab_select div.inactive_tab {
  border: 1px solid #aaa;
}

div.contents {
  margin-top: 0;
  padding: 15px;
  background: var(--main-bg-color);
}

div.about {
  text-align: center;
}
